* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(0, 128, 0);
}

html, body {
    min-height: 100%;
}

.navbar {
    background-color: var(--primary);
    padding: 20px;
    position: sticky;
    top: 0;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.button-primary {
    color: var(--primary);
}

.button:nth-child(1) {
    padding-left: 0;
}
.button:last-child {
    padding-right: 0;
}

.section {
    margin: 50px auto;
    padding: 20px;
    width: clamp(250px, 50%, 600px);
    background-color: rgba(128, 128, 128, 0.433);
}
.heading {
    text-align: center;
}
.description {
    margin: 10px;
    text-align: justify;
}

.actions {
    text-align: right;
}

.footer {
    padding: 30px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.299);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer .heading {
    color: var(--primary);
}